@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

/*----------------------------General Headings/margins/text */

body {
    font-family: "Roboto", sans-serif;
}

h1 {
    font-family: "Goldman", sans-serif;
}

/*----------------------------Header */

header {
    background-color: #000;
    color: #fff;
    height: 70px;
}

.page-heading {
    height: 70px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-heading h1 {
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

/*----------------------------Footer */

footer {
    background-color: #000;
}

.footer-div {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright-text {
    color: #fff;
    padding: 0;
    margin: 0;
    font-size: 15px;
}

/*----------------------------Main container */

.main-container {
    min-height: calc(100vh - 120px);
}

/*----------------------------Page structure */

.rules-row {
    min-height: calc(100vh - 120px);
}

.top-row {
    min-height: calc(0.15 * (100vh - 120px));
}

.bottom-row {
    min-height: calc(0.15 * (100vh - 120px));
}

/*----------------------------Rules section */

.rules-div {
    width: 90%;
    margin: 0 auto;
    border: 8px solid #000;
}

.rules-div h3 {
    margin: 0;
    background-color: #000;
    color: #fff;
    padding-bottom: 5px;
    font-size: 35px;
}

.rules-div ol {
    margin: 20px auto;
    text-align: left;
    font-size: 20px;
}

/*----------------------------Piano Object */

.piano {
    height: 250px;
    width: 98%;
    padding: 15px;
    background-color: #000;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    display: flex;
}

.white {
    z-index: 1;
    width: 14%;
    height: 100%;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 0 0 5px 5px;
}

.black {
    position: relative;
    z-index: 2;
    width: 8%;
    height: 70%;
    background-color: #000;
    margin: 0 -4%;
    border-radius: 0 0 5px 5px;
}

.active-white {
    background-color: grey;
}

.active-black {
    background-color: grey;
    border: 2px solid #000;
}

/*----------------------------Buttons */

.game-button {
    width: 90%;
    height: 60px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #000;
    color: #fff;
    font-size: 20px;
    border: none;
}

.game-button:hover {
    background-color: #fff;
    border: 5px solid #000;
    color: #000;
}

.disabled-button {
    background-color: #fff;
    border: 5px solid #000;
    color: #000;
    cursor: not-allowed;
}

.square-button {
    background-color: #000;
    height: 60px;
    width: 60px;
    color: #fff;
    border: 0;
}

.square-button:hover {
    background-color: #fff;
    border: 5px solid #000;
    color: #000;
}

.square-button i {
    font-size: 30px;
}

/*----------------------------Scores section */

.score-div {
    width: 90%;
    height: 60px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
    border: 5px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.score-div p {
    font-size: 20px;
    margin: 0;
}

.score-p {
    padding-right: 20px;
}

.high-score-p {
    padding-left: 20px;
}

/*----------------------------Game Over Modal */

.modal-content {
    border-radius: 0;
    border: 5px solid #000;
    color: #000;
}

.modal-header {
    background-color: #000;
    color: #fff;
    border-radius: 0;
    padding: 5px;
}

.modal-title {
    font-family: "Goldman", sans-serif;
    text-transform: uppercase;
    font-size: 40px;
    margin: 0 auto;
}

.modal-body {
    margin: 0 auto;
}

/*----------------------------Media Queries */

@media screen and (min-width: 768px) {
    .top-row {
        min-height: calc(0.3 * (100vh - 120px));
    }
    
    .piano-row {
        min-height: calc(0.4 * (100vh - 120px));
    }

    .bottom-row {
        min-height: calc(0.3 * (100vh - 120px));
    }

    .piano {
        height: 300px;
    }

    .rules-div {
        width: 80%;
    }
}

@media screen and (min-width: 992px) {
    .piano {
        height: 400px;
    }

    .rules-div {
        width: 70%;
    }
}

@media screen and (min-width: 1200px) {
    .top-row {
        min-height: calc(0.15 * (100vh - 120px));
    }

    .piano-row {
        min-height: calc(0.7 * (100vh - 120px));
    }

    .bottom-row {
        min-height: calc(0.15 * (100vh - 120px));
    }

    .rules-div {
        width: 60%;
    }
}

@media screen and (max-width: 350px) {
    .page-heading h1 {
        font-size: 2rem;
    }
}